#container{
    width: 550px;
    height: 394px;
    background-color: #3B5997;
    color: white;
    font-family: Arial;
    font-size: 10px;
}

h1{
    font-size: 90px;
    text-align: center;
    margin-bottom: 0;
}

span{
    font-size: 13px;
    opacity: 0.7;
    margin-left: 4px;
}

h2{
    text-align: center;
    margin-top: 2px;
    margin-bottom: 4px;
    font-size: 24px;
}

h3{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 22px;
}

#left-field{
    width: 187px;
    height: 150px;
    border-radius: 7px;
    text-align: center;
    margin-left: 10px;
}

input{
    width: 88px;
    height:14px;
    margin-bottom: 2px;
    margin-top: 2px;
    border-radius: 4px;
    font-size: 9px;
}

p{
    text-align: left;
    margin:2px;
}

#date-time{
    width: 145px;
    height: 15px;
    float: left;
}

#radio{
    width: 150px;
    height: 20px;
    display: inline-flex;
    float: left;
    padding-top: 4px;
}

.radio{
    width: 10px;
    height: 10px;
    margin: 6px;
}

#reset{
    width: 207px;
    height: 36px;
    margin: 2px;
    margin-top: 13px;
    margin-left: 11px;
    border-radius: 7px;
    font-size: 12px;
    color: #4669A3;
    font-weight: 600;
}

#right-form{
    float: right;
    margin-right: 9px;
    text-align: center;
}

.small{
    width: 46px;
}

select{
    font-size: 8px;
    width: 89px;
    width: 89px;
    height: 20px;
    border-radius: 4px;
    color: #A3B2C3;
}

#left-form{
    float: left;
    border-radius: 5px;
}

#right-field{
    border-radius: 7px;
    margin-bottom: 10px;
}

#street, .small{
    float: left;
    margin-right: 4px;
}

#color{
    height: 18px;
}

#area{
    float: left;
    width: 274px;
    height: 32px;
    border-radius: 5px;
    font-size: 10px;
}

#register{
    width: 299px;
    height: 36px;
    border-radius: 7px;
    margin-top: 3px;
    font-size: 18px;
    color: #436097;
}