body {
	width:850px;
	height: 470px;
	background-image: url(slide.jpg);
	background-size: 850px 470px;
	background-repeat:no-repeat;
	font-family: calibri;
	color: #FFFFFF
	
	}
#section {
    clear: both;
}

h1{
	float:left;
	color: #FAC463
	font-size: 28px;
	margin-top:0px;
	}
	
#header{
	color: #FAC463
	}
	
img{
	float:right;
	margin-right:20px;
	margin-top:2px;
}

span {
	color: #F3CD60;
	font-weight: 600;
}

h3{
	margin-top: 8px;
	margin-bottom: 10px;
	font-weight: 100;
	font-size: 27px;
	color: #FFFFFF;
}

ul{
	list-style-type: square;
	color: #F3CD60;
}

.inner{
	background-color: rgba(31, 30, 28, 0.6);
	width:85%;
	border:1px solid #646056;
	padding:5px;
	color: #FBEEC9;
	font-weight: 600;
	font-size: 20px;
	margin-left: 25px;
}



